.popup-wrapper {
    position: relative;
    margin-left: -390px;
    z-index: 100000000
}

#mw_popup {
    z-index: 100000000;
    position: absolute;
    top: 200px;
    padding: 0px;
    left: 50%;
    border: 4px solid #f1af73;
    border-top-width: 0px;
    margin: auto;
    background: #fdf4eb;
}

#mw_popup fieldset {
    border: 2px solid #f1af73;
    padding: 15px;
    position: relative;
}

#mw_popup .legend_span {
    visibility: visible;
    height: 20px;
    position: absolute;
    width: 220px;
    text-align: center;
    top: -11px;
    left: 20px;
    color: #000000;
    background: #fdf4eb;
    line-height: 20px;
}

#mw_popup ul {
    padding-left: 60px;
}

#mw_popup ul li {
    padding: 1px 0;
}

#mw_popup ul li label {
    width: 150px;
    padding-left: 10px;
    z-index: -1;
}

#mw_popup .header h3 {
    font-size: 1.1em;
    margin: 4px 12px 0 0;
    font-weight: bold;
    float: left;
}

#mw_popup .header {
    background: #f1af73;
    height: 24px;
    width: 405px;
}

#mw_popup .content {
    padding: 20px;
    background: url(../images/whizicon.gif) no-repeat 30px 40px;

}

#mw_popup .header .close {
    display: block;
    float: right;
    background: url(../images/close.gif) no-repeat top left;
    padding-left: 28px;
    height: 20px;
    margin-top: 2px;
    font-size: 11px;
    font-weight: normal;
}

#mw_popup .show-next-time {
    width: 365px;
    padding-top: 5px;
}

#mw_popup #save-button {
    margin: 8px;
}

#mwall_extensions a img {
    vertical-align: middle;
    margin-right: 3px;
}

#mw_popup .form-list td.label label {
    width: 130px;
    margin-left: 45px;
    text-align: right;

}



.adminhtml-system-config-edit #mwall_extensions .label label {
    width: auto;
    white-space: nowrap;
}

#extension_tabs_extension_section_content #mwall_whiz_extensions table td {
    padding: 0px 3px;
}

#extension_tabs_extension_section_content #mwall_whiz_extensions table td img{
    padding-top: 2px
}
#extension_tabs_extension_section_content #mwall_whiz_extensions table td select{
    width: 100px;
}

ul.tabs span.mwtab {
    background: url("../images/mwicon.png") 0 50% no-repeat transparent !important;
    padding: 0.3em 0.5em 0.28em 1 !important;
}

ul.tabs a.mwextension-section span, ul.tabs a.mwextension-section:hover span {
    background: url("../images/mwextension.png") no-repeat scroll 0 0 transparent;
    height: 0;
    overflow: hidden;
    padding: 25px 0 0 0;

}

ul.tabs a.mwtheme-section span, ul.tabs a.mwtheme-section:hover span {
    background: url("../images/mwtheme.png") no-repeat scroll 0 0 transparent;
    height: 0;
    overflow: hidden;
    padding: 25px 0 0;

}

ul.tabs a.mwtheme-section, ul.tabs a.mwtheme-section:hover,
ul.tabs a.mwextension-section, ul.tabs a.mwextension-section:hover{
    background: url("../../../images/tabs_span_bg.gif") repeat-x scroll 0 100% transparent;
    border-bottom: medium none;
    padding: 0 0.5em 1px 1.5em;
}

ul.tabs a.mwextension-section:hover, ul.tabs a.mwtheme-section:hover {
    background-color: #d8e6e6;
}

ul.tabs a.mwextension-section.active, ul.tabs a.mwextension-section.active:hover, ul.tabs a.mwtheme-section.active, ul.tabs a.mwtheme-section.active:hover {
    background-color: #FFFFFF;
}