<?xml version="1.0"?>
<config>
    <tabs>
        <mwall translate="label">
            <label>Mage Whiz</label>
            <sort_order>250</sort_order>
        </mwall>
    </tabs>
    <sections>
        <mw_pagereloadenhancement translate="label">
            <label>Page Reload Enhancement</label>
            <tab>mwall</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <about translate="label">
                    <label>About This Extension</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>1</sort_order>
                    <fields>
                        <notice translate="label">
                            <label><![CDATA[
Please feel free to contact us at<br/><br/>

MageWhiz Team<br/>
P: +1 503-764-4123 | W: <a href="http://www.magewhiz.com">http://www.magewhiz.com</a><br/>
E: <a href="mailto:whiz@magewhiz.com">whiz@magewhiz.com</a> | Skype: mage.whiz &nbsp;<a href="skype:mage.whiz?chat"><img src="http://mystatus.skype.com/smallicon/mage%2Ewhiz" style="border: none;" width="16" height="16" alt="My status" /></a>
<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
                            ]]></label>
                            <frontend_model>pagereloadenhancement/system_html</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notice>
                    </fields>
                </about>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                    </fields>
                </general>
            </groups>
        </mw_pagereloadenhancement>
    </sections>
</config>
