<?xml version="1.0"?>
<config>
    <modules>
        <MW_All>
            <version>1.0.0</version>
        </MW_All>
    </modules>
    <global>
        <blocks>
            <mwall>
                <class>MW_All_Block</class>
            </mwall>
            <adminhtml>
                <rewrite>
                    <notification_window>MW_All_Block_Notification_Popup</notification_window>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <mwall>
                <class>MW_All_Model</class>
            </mwall>
        </models>

        <helpers>
            <mwall>
                <class>MW_All_Helper</class>
            </mwall>
        </helpers>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <mwall module="MW_All">
                    <file>mw_all.xml</file>
                </mwall>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mwall>
                                            <title>Mage Whiz</title>
                                        </mwall>
                                        <mwextension>
                                            <title>Mage Whiz Extensions</title>
                                        </mwextension>
                                        <mwtheme>
                                            <title>Mage Whiz Themes</title>
                                        </mwtheme>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mwall_exts>
                        <type>singleton</type>
                        <class>mwall/feed_extension</class>
                        <method>checkUpdate</method>
                    </mwall_exts>
                    <mwall_upds>
                        <type>singleton</type>
                        <class>mwall/feed_update</class>
                        <method>checkUpdate</method>
                    </mwall_upds>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <default>
        <mwall>
            <mwnotifications>
                <use_https>0</use_https>
                <frequency>24</frequency>
                <update_types>CUSTOMER_PROMOTIONS,NEW,UPDATE,INSTALLED_UPDATE,OTHERS</update_types>
                <feed_update_url>www.magewhiz.com/mwfeeds/updates.xml</feed_update_url>
                <feed_extension_url>www.magewhiz.com/mwfeeds/extensions.xml</feed_extension_url>
            </mwnotifications>
        </mwall>
    </default>
    <admin>
        <routers>
            <mwall>
                <use>admin</use>
                <args>
                    <module>MW_All</module>
                    <frontName>mwall</frontName>
                </args>
            </mwall>
        </routers>
    </admin>
</config>